<%= render 'ships/shared/header' %>

<div class="row">
  <div class="col-lg-6 mb-4">
    <div class="border rounded p-4 position-relative">
      <div class="position-absolute text-center" style="bottom: -.7em; left: 0; width: 100%;">
        <small class="bg-light p-2" style="color: #bbb;">BasicFlight::LocationInfo by Space Inc</small>
      </div>

      <div>
        <small class="text-uppercase" style="color: #777;">Location</small>

        <div class="h3"><%= @ship.location.name %></div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 mb-4">
    <div>
      <div class="border rounded p-4 position-relative">
        <div class="position-absolute text-center" style="bottom: -.7em; left: 0; width: 100%;">
          <small class="bg-light p-2" style="color: #bbb;">BasicFlight::PathPlanner by Space Inc</small>
        </div>

        <div>
          <%= bootstrap_form_with scope: :travel, url: travel_url do |f| %>
            <h3>Travel to destination</h3>

            <p>Pilot your ship to one of the destinations below.</p>

            <%= f.hidden_field :ship_id, value: @ship.id %>
            <%= f.hidden_field :ship_slug, value: @ship.slug %>

            <div class="my-4" style="max-height: 17rem; overflow: auto;">
              <% @ship.destinations.each do |destination| %>
                <label class="d-block border bg-white rounded px-3 py-2 js-destination" style="border-color: #eee !important; <%= destination.disabled? ? 'opacity: 0.7;' : 'cursor: pointer;' %>" id="destination-<%= destination %>">
                  <div class="d-flex justify-content-between align-items-center">
                    <%= f.radio_button :location_id, destination.id, label:  destination.name, label_class: 'align-middle ml-2', checked: destination.checked?, disabled: destination.disabled? %>

                    <span class="badge badge-dark ml-auto" title="<%= destination.coordinates %>"><%= destination.distance %></span>
                    <span class="badge badge-<%= destination.fuel_to_travel_status %> ml-2"><%= destination.fuel_to_travel %> fuel</span>
                  </div>
                </label>
              <% end %>
            </div>

            <div class="d-flex">
              <% if @ship.travel_disabled? %>
                <div class="align-self-center"><strong class="text-warning">Your fuel is too low to travel anywhere.</strong><br />Refuel at <%= link_to 'Dock Services', ship_dock_services_path(@ship.slug) %>.</div>
              <% end %>

              <div class="ml-auto"><%= f.button 'Travel', class: 'btn btn-primary', disabled: @ship.travel_disabled?, data: { disable_with: 'Travelling...' } %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
