<div class="d-flex justify-content-center">
  <div class="d-md-flex justify-content-center border rounded py-3 position-relative">
    <div class="position-absolute text-center" style="bottom: -.7em; left: 0; width: 100%;">
      <small class="bg-light p-2" style="color: #bbb;">ShipStat::Hud by Space Inc</small>
    </div>

    <div class="d-flex justify-content-center">
      <div class="text-center px-4">
        <small class="text-uppercase" style="color: #777;">Name</small>

        <div class="h5 mt-1"><%= @ship.name %></div>
      </div>

      <div class="text-center px-4">
        <small class="text-uppercase" style="color: #777;">Prototype</small>

        <div class="h5 mt-1">Maxwell D</div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-3 mt-md-0">
      <div class="text-center px-4">
        <small class="text-uppercase" style="color: #777;">Fuel</small>

        <div class="h5 text-<%=@ship.fuel_status %> mt-1"><%= @ship.fuel %></div>
      </div>

      <div class="text-center px-4">
        <small class="text-uppercase" style="color: #777;">Hull</small>

        <div class="h5 text-<%=@ship.hull_status %> mt-1"><%= @ship.hull %></div>
      </div>

      <div class="text-center px-4">
        <small class="text-uppercase" style="color: #777;">Shields</small>

        <div class="h5 text-<%=@ship.shields_status %> mt-1"><%= @ship.shields %></div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/flash' %>

<nav class="d-flex flex-nowrap my-4 nav nav-pills" style="overflow-y: auto;">
  <%= active_link_to 'Flight deck', ship_flight_deck_path(@ship.slug), class: 'nav-item nav-link text-nowrap' %>
  <%= active_link_to 'Crew', ship_crew_index_path(@ship.slug), class: 'nav-item nav-link text-nowrap' %>
  <%= active_link_to 'Computers', ship_computers_path(@ship.slug), class: 'nav-item nav-link text-nowrap' %>
  <%= active_link_to 'Dock Services', ship_dock_services_path(@ship.slug), class: 'nav-item nav-link text-nowrap' %>

  <div class="ml-3 ml-md-auto">
    <%= bootstrap_form_with scope: :disembark, url: disembark_url do |f| %>
      <%= f.hidden_field :ship_id, value: @ship.id %>
      <%= submit_tag 'Disembark', class: 'btn btn-outline-danger' %>
    <% end %>
  </div>
</nav>
