<div class="row">
  <div class="col-md-7 col-lg-6">
    <div class="card shadow-sm mb-3">
      <div class="card-body text-center">
        <p class="strong">Location</p>

        <div class="h3"><%= @ship.location.name %></div>
      </div>
    </div>


    <div class="row">
      <div class="col-4 mb-3 md-sm-0">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <p class="strong">Fuel</p>

            <div class="h4 text-<%=@ship.fuel_status %>"><%= @ship.fuel %></div>
          </div>
        </div>
      </div>

      <div class="col-4 mb-3 md-sm-0">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <p class="strong">Hull</p>

            <div class="h4 text-<%=@ship.hull_status %>"><%= @ship.hull %></div>
          </div>
        </div>
      </div>

      <div class="col-4 mb-3 md-sm-0">
        <div class="card shadow-sm">
          <div class="card-body text-center">
            <p class="strong">Shields</p>

            <div class="h4 text-<%=@ship.shields_status %>"><%= @ship.shields %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 mt-3 mt-md-0 offset-lg-1">
    <%= bootstrap_form_with scope: :travel, url: travel_url do |f| %>
      <h2>Destinations</h2>
      <%= f.hidden_field :ship_id, value: @ship.id %>
      <%= f.hidden_field :ship_slug, value: @ship.slug %>

      <nav class="mb-3">
        <% @ship.destinations.each do |destination| %>
          <label class="card card-body bg-light border-0" data-toggle="pills" style="cursor: pointer;">
            <div class="d-flex justify-content-between align-items-center">
              <%= f.radio_button :location_id, destination.id, label:  destination.name, checked: destination.checked?, disabled: destination.disabled? %>

              <span class="badge badge-secondary badge-success"><%= destination.fuel_to_travel %> fuel</span>
            </div>
          </label>
        <% end %>
      </nav>

      <p class="text-right"><%= f.button 'Travel', class: 'btn btn-primary btn-lg' %></p>
    <% end %>
  </div>
</div>
