<div class="d-flex justify-content-between align-items-center">
  <h1><%= @ship.name %></h1>

  <%= render 'shared/flash' %>

  <div>
    <%= bootstrap_form_with scope: :disembark, url: disembark_url do |f| %>
      <%= f.hidden_field :ship_id, value: @ship.id %>
      <%= submit_tag 'Disembark', class: 'btn btn-outline-danger' %>
    <% end %>
  </div>
</div>

<nav class="nav nav-tabs my-3">
  <%= link_to 'Flight deck', '#flight-deck', class: 'nav-item nav-link active', data: { toggle: 'tab' } %>
  <%= link_to 'Crew', '#crew', class: 'nav-item nav-link', data: { toggle: 'tab' } %>
  <%= link_to 'Computers', '#computers', class: 'nav-item nav-link', data: { toggle: 'tab' } %>
</nav>

<div class="tab-content">
  <div class="tab-pane active show" id="flight-deck">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body text-center">
            <p class="strong">Location</p>

            <div class="h2"><%= @ship.location.name %></div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body text-center">
                <p class="strong">Fuel</p>

                <div class="h2 text-<%=@ship.ship_fuel_status %>"><%= @ship.ship_fuel %></div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card">
              <div class="card-body text-center">
                <p class="strong">Hull</p>

                <div class="h2 text-<%=@ship.ship_hull_status %>"><%= @ship.ship_hull %></div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card">
              <div class="card-body text-center">
                <p class="strong">Shields</p>

                <div class="h2 text-<%=@ship.ship_shields_status %>"><%= @ship.ship_shields %></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <%= bootstrap_form_with scope: :travel, url: travel_url do |f| %>
          <h2>Destinations</h2>
          <%= f.hidden_field :ship_id, value: @ship.id %>
          <%= f.hidden_field :ship_slug, value: @ship.slug %>

          <nav class="mb-3">
            <% @ship.destinations.each do |location| %>
              <label class="card card-body bg-light border-0" data-toggle="pills" style="cursor: pointer;">
                <div class="d-flex justify-content-between align-items-center">
                  <%= f.radio_button :location_id, location.id, label:  location.name, checked: location.id == @ship.location.id %>

                  <span class="badge badge-secondary badge-success">10 fuel</span>
                </div>
              </label>
            <% end %>
          </nav>

          <p class="text-right"><%= f.button 'Travel', class: 'btn btn-primary btn-lg' %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="crew">
    <ul>
      <% @ship.crew.each do |crew_member| %>
        <li><%= crew_member.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="tab-pane" id="computers">
    <div class="row">
      <div class="col-sm-4">
        <div class="card mb-2">
          <div class="card-body">
            <div class="h5">Fuel Calculator</div>

            <p><%= @ship.computers.fuel_calculator.name %></p>

            <p><%= @ship.computers.fuel_calculator.description %></p>

            <button class="btn btn-outline-primary">
              Change
            </button>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mb-2">
          <div class="card-body">
            <div class="h5">Travel Validator</div>

            <p><%= @ship.computers.travel_validator.name %></p>

            <p><%= @ship.computers.travel_validator.description %></p>

            <button class="btn btn-outline-primary">
              Change
            </button>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mb-2">
          <div class="card-body"></div>
        </div>
      </div>
    </div>
  </div>
</div>
