<div class="d-flex justify-content-between align-items-center">
  <h1><%= @ship.name %></h1>

  <%= render 'shared/flash' %>

  <div>
    <%= bootstrap_form_with scope: :disembark, url: disembark_url do |f| %>
      <%= f.hidden_field :ship_id, value: @ship.id %>
      <%= submit_tag 'Disembark', class: 'btn btn-outline-danger' %>
    <% end %>
  </div>
</div>

<nav class="nav nav-tabs mt-3 mb-5">
  <%= link_to 'Flight deck', '#flight-deck', class: 'nav-item nav-link active', data: { toggle: 'tab' } %>
  <%= link_to 'Crew', '#crew', class: 'nav-item nav-link', data: { toggle: 'tab' } %>
  <%= link_to 'Computers', '#computers', class: 'nav-item nav-link', data: { toggle: 'tab' } %>
</nav>

<div class="tab-content">
  <div class="tab-pane active show" id="flight-deck">
    <%= render 'ships/flight_deck' %>
  </div>

  <div class="tab-pane" id="crew">
    <%= render 'ships/crew' %>
  </div>

  <div class="tab-pane" id="computers">
    <%= render 'ships/computers' %>
  </div>
</div>
