<div class="h1"><%= @controls.ship.name %></div>

<hr />

<div class="row">
  <div class="col-sm-9">
    <nav class="nav nav-pills">
      <%= link_to 'Controls', '#controls', class: 'nav-item nav-link active', data: { toggle: 'tab' } %>
      <%= link_to 'Crew', '#crew', class: 'nav-item nav-link', data: { toggle: 'tab' } %>
      <%= link_to 'Computers', '#computers', class: 'nav-item nav-link', data: { toggle: 'tab' } %>
    </nav>
  </div>

  <div class="col-sm-3 text-right">
    <%= bootstrap_form_with scope: :disembark, url: disembark_url do |f| %>
      <%= f.hidden_field :ship_id, value: @controls.ship.id %>
      <%= submit_tag 'Disembark', class: 'btn btn-outline-danger' %>
    <% end %>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-sm-7">
    <div class="tab-content">
      <div class="tab-pane active show" id="controls">
        <p>You are docked at <%= @controls.ship.location.name %>.</p>

        <%= bootstrap_form_with scope: :travel, url: travel_url do |f| %>
          <p>Fuel remaining: <%= @controls.ship.fuel %></p>
          <%= f.hidden_field :ship_id, value: @controls.ship.id %>
          <%= f.hidden_field :ship_slug, value: @controls.ship.slug %>
          <%= f.collection_radio_buttons :location_id, @controls.locations, :id, :name, checked: @controls.ship.location.id %>
          <p><%= submit_tag 'Travel', class: 'btn btn-primary' %></p>
        <% end %>
      </div>

      <div class="tab-pane" id="crew">
        <ul>
          <% @controls.ship.crew.each do |crew_member| %>
            <li><%= crew_member.name %></li>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane" id="computers">
        <dl>
          <dt><%= @controls.computers.fuel_calculator.name %></dt>
          <dd><%= @controls.computers.fuel_calculator.description %></dd>

          <dt><%= @controls.computers.travel_validator.name %></dt>
          <dd><%= @controls.computers.travel_validator.description %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
