<nav class="nav nav-pills">
  <%= active_link_to @controls.ship.location.name, location_path(@controls.ship.location), class: 'nav-item nav-link' %>
  <%= active_link_to @controls.ship.dock.class.name, dock_path(@controls.ship.dock), class: 'nav-link' %>
  <%= active_link_to 'Ship', ship_path(@controls.ship), class: 'nav-item nav-link' %>
</nav>

<h1>Ship</h1>

You are docked at <%= @controls.ship.location.name %>.

<h2>Controls</h2>

<%= bootstrap_form_with scope: :travel, url: travel_url do |f| %>
  <%= f.hidden_field :ship_id, value: @controls.ship.id %>
  <%= f.collection_radio_buttons :location_id, @controls.locations, :id, :name, prompt: true, checked: @controls.ship.location_id %>
  <%= submit_tag 'Travel', class: 'btn btn-primary' %>
<% end %>
