  <nav>
    <%= link_to 'Ship', ship_path(@controls.ship) %>
    <%= link_to @controls.person.location.name, location_path(@controls.person.location) %>
  </nav>

<%= @controls.person.name %> is at <%= @controls.person.location.name %>

<%= form_tag travel_url do %>
  <%= hidden_field_tag "travel[ship_id]", @controls.ship.id %>
  <%= collection_radio_buttons(:travel, :location_id, @controls.locations, :id, :name, prompt: true, checked: @controls.person.location_id) %>
  <%= submit_tag 'Travel' %>
<% end %>
