<h1><%= @dock.location.name %></h1>

<%= render 'shared/flash' %>

<nav class="nav nav-tabs my-3">
  <%= active_link_to "About #{@dock.location.name}", location_path(@dock.location), class: 'nav-item nav-link' %>

  <% @dock.location.establishments.each do |establishment| %>
    <%= active_link_to establishment.name, dock_path(establishment), class: 'nav-item nav-link' %>
  <% end %>
</nav>

<div class="row">
  <div class="col-sm-7">
    <!-- <h2>Ships</h2> -->

    <table class="table">
      <thead>
        <tr>
          <th class="border-top-0">Ship</th>
          <th class="border-top-0">Crew</th>
          <th class="border-top-0 text-right">Action</th>
        </tr>
      </thead>

      <tbody>
        <% @dock.ships.each do |ship| %>
          <tr>
            <td class="align-middle"><%= ship.name %></td>

            <td class="align-middle">
              <% if ship.crew.any? %>
                <%= ship.crew.map(&:name).join(', ') %>
              <% else %>
                <span class="text-muted">No crew</span>
              <% end %>
            </td>


            <td class="text-right">
              <% if ship.has_boarding_request_from_current_person? %>
                <%= submit_tag 'Cancel request to board', class: 'btn btn-danger', data: { disable_with: 'Requesting...' } %>
              <% else %>
                <%= bootstrap_form_with scope: :board, url: board_url do |f| %>
                  <%= f.hidden_field :ship_id, value: ship.id %>
                  <%= f.hidden_field :ship_slug, value: ship.slug %>
                  <%= f.hidden_field :dock_slug, value: @dock.slug %>
                  <%= submit_tag 'Request to board', class: 'btn btn-primary', data: { disable_with: 'Requesting...' } %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-sm-4 offset-sm-1">
    <blockquote class="speech">
      <p>&ldquo;These docks are ancient,&rdquo; said the longshoreman.</p>
    </blockquote>
  </div>
</div>
