<nav class="nav nav-pills">
  <%= active_link_to @dock.location.name, location_path(@dock.location), class: 'nav-link' %>
  <%= active_link_to @dock.name, dock_path(@dock), class: 'nav-link' %>
</nav>

<h1><%= @dock.location.name %> <%= @dock.name %></h1>

<p>Ships docked currently:</p>

<ul>
  <% @dock.ships.each do |ship| %>
    <li>
      <% if ship.has_crew_member_id?(current_person.id) %>
        <%= link_to ship.name, ship_path(ship) %>
        crew=<%= ship.crew.map(&:name).join(',') %>
      <% else %>
        <%= ship.name %>
        crew=<%= ship.crew.map(&:name).join(',') %>
        <%= bootstrap_form_with scope: :board, url: board_url do |f| %>
          <%= f.hidden_field :ship_id, value: ship.id %>
          <%= f.hidden_field :ship_slug, value: ship.slug %>
          <%= submit_tag 'Board', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
