<nav class="nav nav-pills">
  <%= active_link_to @location.name, location_path(@location.id), class: 'nav-link' %>
</nav>

<h1><%= @location.name %></h1>

<blockquote>
  <p>&ldquo;Hi <%= current_person.name %>,
    welcome to <%= @location.name %>.&rdquo;</p>
</blockquote>

<ul>
  <% @location.establishments.each do |establishment| %>
    <li><%= link_to establishment.name, dock_path(establishment) %></li>
  <% end %>
</ul>
