<nav class="nav nav-pills">
  <%= active_link_to @location.name, location_path(@location), class: 'nav-link' %>

  <% @location.establishments.each do |establishment| %>
    <%= active_link_to establishment.name, dock_path(establishment), class: 'nav-link' %>
  <% end %>
</nav>

<div class="row">
  <div class="col-sm">
    <h1><%= @location.name %></h1>

    <ul>
      <% @location.establishments.each do |establishment| %>
        <li><%= link_to establishment.name, dock_path(establishment) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm text-right">
    <blockquote class="speech">
      <p>&ldquo;Hi <%= current_person.name %>,
        welcome to <%= @location.name %>,&rdquo; said the gritty old fella.</p>
    </blockquote>
  </div>
</div>
