<!DOCTYPE html>
<html>
  <head>
    <title>Space</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md bg-light">
      <div class="container">
        <%= link_to 'Space', root_path, class: 'navbar-brand mb-0 h1' %>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <% if user_signed_in? %>
            <nav class="navbar-nav mr-auto">
              <%= active_link_to 'Current Location', location_path(current_person&.location), class: 'nav-item nav-link' if current_person&.location.present? %>
              <%= active_link_to 'Ship', ship_path(current_person&.ship), class: 'nav-item nav-link' if current_person&.ship.present? %>
              <%= link_to 'Help', '', class: 'nav-item nav-link' %>
            </nav>
          <% end %>

          <nav class="navbar-nav">
            <% if user_signed_in? %>
              <%= link_to 'Account', edit_user_registration_path, class: 'nav-item nav-link' %>
              <%= link_to 'Log out', destroy_user_session_path, class: 'nav-item nav-link', method: :delete %>
            <% else %>
              <%= link_to 'Log in', new_user_session_path, class: 'nav-item nav-link' %>
              <%= link_to 'Sign up for free', new_user_registration_path, class: 'nav-item btn btn-outline-primary ml-2' %>
            <% end %>
          </nav>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <% if flash[:errors].present? %>
            <div class="alert alert-warning" role="alert">
              <%= flash[:errors].join('<hr />').html_safe %>
            </div>
          <% end %>

          <% if flash[:success].present? %>
            <div class="alert alert-success" role="alert">
              <%= flash[:success] %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
