<!DOCTYPE html>
<html>
  <head>
    <title>Space</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md bg-light">
      <div class="container">
        <%= link_to 'Space', ship_path(1), class: 'navbar-brand mb-0 h1' %>
        <nav class="navbar-nav mr-auto">
          <%= active_link_to 'Current Location', location_path(current_person&.location), class: 'nav-item nav-link' %>
          <%= active_link_to 'Ship', ship_path(current_person&.ship), class: 'nav-item nav-link' if current_person&.ship.present? %>
          <%= link_to 'Help', location_path(current_person&.location), class: 'nav-item nav-link' %>
        </nav>
        <nav class="navbar-nav">
          <%= link_to 'Login', location_path(current_person&.location), class: 'nav-item nav-link' %>
          <%= link_to 'Sign Up for Free', location_path(current_person&.location), class: 'nav-item btn btn-outline-primary ml-2' %>
        </nav>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
